Binaries
DerivedDataCache
Intermediate
Saved
Build
Plugins
Content/Assets/Dungeon
Content/Assets/Effects
Content/Assets/Fonts
Content/Assets/MagicCircles
Content/Assets/Materials
Content/Assets/Pickups
Content/Assets/Sounds
Content/Assets/Spells
Content/Assets/UI
Content/Collections
Content/Developers

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace