Binaries
DerivedDataCache
Intermediate
Saved
Build
Plugins
Content/Assets
Content/Maps
Content/Collections
Content/Developers

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace